<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="favicon.png">
		
		<base href="{{relativepath}}">
		
		<title>{{title}}</title>
		
		{{include_js}}
		{{include_css}}
		
	</head>
	<body ng-app="main">
		
		<div id="wrap">
			<div ng-controller="headerCtrl">
				<div ui-header></div>
			</div>
			
			<!-- Begin page content -->
			<div class="container" style="padding-top: 80px;">
				{{content}}
			</div>
		</div>
		
		<div id="footer">
			<div class="container">
				<p class="text-muted">&copy; Twenty-Six Medias, Inc 2014</p>
			</div>
		</div>
		
	</body>
</html>